#body {
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: crosshair;
  background: #230669;
}

#path {
  width: 55em;
  height: 55em;
  border-radius: 50%;
  background: radial-gradient(circle at 50%, #2c0992, #2c0992 35%, #23067e, #23067e 10%);
  align-items: center;
  margin-left:auto;
  margin-right: auto;
  position: absolute;
  align-content: center;
  display: flex;
  justify-content: center;
}

.sun {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  border: 1px solid yellow;
  background: radial-gradient(circle at 50%, white, white 55%, yellow, yellow 57%);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%
  {
    box-shadow: 0 0 0 2px rgb(255, 191, 0, .4),  0 0 0 6px rgb(255, 191, 0, .2);
  }
  50%
  {
    box-shadow: 0 0 0 6px rgb(255, 191, 0, .4), 0 0 0 12px rgb(255, 191, 0, .2);
  }
  100%
  {
    box-shadow:  0 0 0 2px rgb(255, 191, 0, .4), 0 0 0 6px rgb(255, 191, 0, .2);
  }

}

#planet {
  left: 1.65em;
  position: relative;
  cursor: pointer;
  width: 1.2em;
  align-items: center;
  content-align: center;
  justify-content: center;
  height: 1.2em;
  border-radius: 50%;
  background: #0e39af;
  animation: planetSh 7.15s infinite;
}

@keyframes planetSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(78, 155, 244, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(78, 155, 244, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(78, 155, 244, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(78, 155, 244, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(78, 155, 244, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(78, 155, 244, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(78, 155, 244, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(78, 155, 244, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(78, 155, 244, .9) inset;
  }
}

#mars {
  left: 1.055em;
  position: relative;
  cursor: pointer;
  width: 1.1em;
  overflow: hidden;
  height: 1.1em;
  border-radius: 50%;
  background: #661073;
  animation: marsSh 12.5s infinite;
}

@keyframes marsSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(207, 47, 101, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(207, 47, 101, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(207, 47, 101, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(207, 47, 101, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(207, 47, 101, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(207, 47, 101, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(207, 47, 101, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(207, 47, 101, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(207, 47, 101, .9) inset;
  }
}

#moon {
  position: relative;
  cursor: pointer;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 50%;
  background: #4c3da3;
  animation: moonSh 7.15s infinite;
}

@keyframes moonSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(181, 166, 221, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(181, 166, 221, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(181, 166, 221, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(181, 166, 221, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(181, 166, 221, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(181, 166, 221, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(181, 166, 221, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(181, 166, 221, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(181, 166, 221, .9) inset;
  }
}

#mercury {
  left: 2.4em;
  position: relative;
  cursor: pointer;
  width: 0.8em;
  overflow: hidden;
  height: 0.8em;
  border-radius: 50%;
  background: #813abd;
  animation: mercurySh 1.748s linear infinite;

}

@keyframes mercurySh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(243, 174, 2, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(243, 174, 2, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(243, 174, 2, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(243, 174, 2, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(243, 174, 2, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(243, 174, 2, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(243, 174, 2, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(243, 174, 2, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(243, 174, 2, .9) inset;
  }
}

#venus {
  left: 2.16em;
  position: relative;
  cursor: pointer;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  background: #753e69;
  animation: venusSh 4.83s infinite;
}
@keyframes venusSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(244, 154, 91, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(244, 154, 91, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(244, 154, 91, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(244, 154, 91, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(244, 154, 91, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(244, 154, 91, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(244, 154, 91, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(244, 154, 91, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(244, 154, 91, .9) inset;
  }
}

#jupiter {
  left:0.16em;
  position: relative;
  cursor: pointer;
  width: 2.4em;
  overflow: hidden;
  height: 2.4em;
  border-radius: 50%;
  background: #703867;
  animation: jupiterSh 88s infinite;
}

@keyframes jupiterSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(241, 133, 86, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(241, 133, 86, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(241, 133, 86, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(241, 133, 86, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(241, 133, 86, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(241, 133, 86, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(241, 133, 86, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(241, 133, 86, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(241, 133, 86, .9) inset;
  }
}

#saturn {
  right: 1em;
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #755972;
  animation: saturnSh 220s infinite;
}
@keyframes saturnSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(250, 209, 118, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(250, 209, 118, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(250, 209, 118, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(250, 209, 118, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(250, 209, 118, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(250, 209, 118, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(250, 209, 118, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(250, 209, 118, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(250, 209, 118, .9) inset;
  }
}

#uranus {
  right: 1.8em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background: #2f61a4;
  animation: uranusSh 610s infinite;
}
@keyframes uranusSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(91, 227, 225, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(91, 227, 225, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(91, 227, 225, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(91, 227, 225, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(91, 227, 225, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(91, 227, 225, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(91, 227, 225, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(91, 227, 225, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(91, 227, 225, .9) inset;
  }
}
@keyframes ringSh {
  0%
  {
    box-shadow: -2px 0 0 2px rgb(30, 154, 184, .9) inset;
  }
  12.5%
  {
    box-shadow: -2px 2px 0 2px rgb(30, 154, 184, .9) inset;
  }
  25%
  {
    box-shadow:  0px 2px 0px 2px rgb(30, 154, 184, .9) inset;
  }
  37.5%
  {
    box-shadow: 2px 2px 0 2px rgb(30, 154, 184, .9) inset;
  }
  50%
  {
    box-shadow: 2px 0px 0 2px rgb(30, 154, 184, .9) inset;
  }
  65.5%
  {
    box-shadow:  2px -2px 0px 2px rgb(30, 154, 184, .9) inset;
  }
  75%
  {
    box-shadow: 0px -2px 0 2px rgb(30, 154, 184, .9) inset;
  }
  87.5%
  {
    box-shadow: -2px -2px 0 2px rgb(30, 154, 184, .9) inset;
  }
  100%
  {
    box-shadow:  -2px 0px 0px 2px rgb(30, 154, 184, .9) inset;
  }
}
#neptune {
  right: 2.46em;
  position: relative;
  cursor: pointer;
  width: 1.34em;
  overflow: hidden;
  height: 1.34em;
  border-radius: 50%;
  background: #3a13ac;
  animation: neptuneSh 930s infinite;
}
@keyframes neptuneSh {
  0%
  {
    box-shadow: -1px 0 0 1px rgb(107, 35, 271, .9) inset;
  }
  12.5%
  {
    box-shadow: -1px 1px 0 1px rgb(107, 35, 271, .9) inset;
  }
  25%
  {
    box-shadow:  0px 1px 0px 1px rgb(107, 35, 271, .9) inset;
  }
  37.5%
  {
    box-shadow: 1px 1px 0 1px rgb(107, 35, 271, .9) inset;
  }
  50%
  {
    box-shadow: 1px 0px 0 1px rgb(107, 35, 271, .9) inset;
  }
  65.5%
  {
    box-shadow:  1px -1px 0px 1px rgb(107, 35, 271, .9) inset;
  }
  75%
  {
    box-shadow: 0px -1px 0 1px rgb(107, 35, 271, .9) inset;
  }
  87.5%
  {
    box-shadow: -1px -1px 0 1px rgb(107, 35, 271, .9) inset;
  }
  100%
  {
    box-shadow:  -1px 0px 0px 1px rgb(107, 35, 271, .9) inset;
  }
}

.counter{
  margin-top: 1000px;
  font-family: "Consolas", Arial, serif;
  font-size: 3em;
  color: white;
  text-shadow: #23066b 2px 2px 0, #23066b -2px -2px 0,
  #23066b -2px 2px 0, #23066b 2px -2px 0;
}
